/* 
    Document   : homecontrol.css
    Created on : 29.06.2013, 16:23:34
    Author     : Jens Deters
    Description:
        Purpose of the stylesheet follows.
*/

.root {
    -fx-base: #444444;
    -fx-background: #333333;
    -fx-background-color: -fx-background;
    -fx-text-background-color: #FFFFFF;
    -fx-text-base-color:#FFFFFF;
    -icons-color: grey;
}

.awesome{
    -fx-font-family:  FontAwesome;
    -fx-text-fill: -icons-color;
}

.title{
    -fx-font-family: Droid;
    -fx-font-size: 4em;
    -fx-font-weight: normal;
    -fx-fill:  #333333;
}

.version{
    -fx-font-family: Droid;
    -fx-font-size: 2em;
    -fx-font-weight: normal;
    -fx-text-fill: #333333;
}

.copyright{
    -fx-font-family: Droid;
    -fx-font-size: 1em;
    -fx-font-weight: normal;
    -fx-fill:  #f5f5f5;
}

.key-label{
    -fx-font-family: Droid;
    -fx-font-size: 1.5em;
    -fx-font-weight: normal;
    -fx-text-fill: #333333;
}

.value-label{
    -fx-font-family: Droid;
    -fx-font-size: 2em;
    -fx-font-weight: normal;
    -fx-text-fill:  #f5f5f5;
}



.button, .toggle-button{
    -fx-background-color: 
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%),
        linear-gradient(#f5f5f5 0%, #dbdbdb 50%, #cacaca 51%, #d7d7d7 80%);
    -fx-background-insets: 0,1,10,11;
    -fx-background-radius:40,40,30;
    -fx-padding: 15 30 15 30;
    -fx-font-size: 48px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.button:pressed, .toggle-button:pressed{
    -icons-color: linear-gradient(olivedrab, yellowgreen, olivedrab);
    -fx-background-color: 
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(olivedrab, yellowgreen, olivedrab),
        linear-gradient(#ababab 0%, #f5f5f5 40%, #d7d7d7 70%, #aaaaaa 90%);
    -fx-background-insets: 0,1,10;
}


.button .text, .toggle-button .text{
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.button-on{
    -icons-color: yellowgreen;
}

.button-on:pressed{
    -icons-color: linear-gradient(olivedrab, yellowgreen, olivedrab);
}

.button-off{
    -icons-color: lightgrey;
}

.button-off:pressed{
    -icons-color: orangered;
    -fx-background-color: 
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(firebrick, orangered, firebrick),
        linear-gradient(#ababab 0%, #f5f5f5 40%, #d7d7d7 70%, #aaaaaa 90%);
    -fx-background-insets: 0,1,10;
}

.button-exit{
    -icons-color: firebrick;
}

.button-exit:pressed{
    -icons-color: linear-gradient(firebrick, orangered, firebrick);
    -fx-background-color: 
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(firebrick, orangered, firebrick),
        linear-gradient(#ababab 0%, #f5f5f5 40%, #d7d7d7 70%, #aaaaaa 90%);
    -fx-background-insets: 0,1,10;
}

.device-name{
    -fx-font-family: Droid;
    -fx-font-size: 80px;
    -fx-font-weight: normal;
    -fx-fill: linear-gradient(#f5f5f5, #dbdbdb); 
    -fx-effect: innershadow( three-pass-box , black , 2, 0.0 , 1 , 1 );
}

.device-pane{
    -fx-background-color: #3a3a3a;
    -fx-background-radius: 20;
    -fx-border-color:  linear-gradient(#333333 0%, #222222 25%, #444444 75%, #333333 100%);
    -fx-border-radius: 20;
    -fx-border-width: 1px;
}

.app-pane{
    -fx-background-color: 
        #757575;
}

